[submodule "SATSentinel"]
	path = SATSentinel
	url = https://github.com/RobCoutel/SATSentinel.git
[submodule "third_party/fuzzing-SAT-solvers"]
	path = third_party/fuzzing-SAT-solvers
	url = https://github.com/requiel20/fuzzing-SAT-solvers.git
