[submodule "SATSentinel"]
	path = SATSentinel
	url = git@github.com:RobCoutel/SATSentinel.git
[submodule "third_party/fuzzing-SAT-solvers"]
	path = third_party/fuzzing-SAT-solvers
	url = git@github.com:requiel20/fuzzing-SAT-solvers.git
