build/
build_rel/
.vscode/

SAT.cc
SAT.hh

test.cpp
test.exe

uf*

log.ansi
perf.data
perf.data.old
cachegrind.out.*
scripts/cnfdd.c
scripts/cnfudd
scripts/cnfuzz
scripts/cnfuzz.c
scripts/fuzz-napsat.sh
scripts/run-napsat.sh
scripts/runcnfuzz
executables/*
