c Problem of finding the maximum value among a b c
c
c Problem :
c  a < b v a < c v m = a
c  ~a < b v b < c v m = b
c  ~a < c v b < c v m = b
c  ~a < b v m = c
c  ~a < c v m = c
c  ~b < c v m = c
c  a < m v b < m v c = m
c
c Variables:
c 1 <=> a < b
c 2 <=> a < c
c 3 <=> b < c
c 4 <=> m = a
c 5 <=> m = b
c 6 <=> m = c
c 7 <=> m < a
c 8 <=> m < b
c 9 <=> m < c
c
c Translated to CNF:
c 1 v 2 v 4
c ~1 v 3 v 5
c ~2 v 3 v 5
c ~1 v 6
c ~2 v 6
c ~3 v 6
c 7 v 8 v 9
1 2 4 0
-1 3 5 0
-2 3 5 0
-1 6 0
-2 6 0
-3 6 0
7 8 9 0
%
COMMAND test-cnf/test-max3-commands.txt

~ a < b
a < c
~ b < c
~ m = a
m = b
m = c
~ m < a
m < b
~ m < c